<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Add, Edit & Remove</h4>
            </div><!-- end card header -->
  
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                          <div class="search-box ms-2">
                              <input type="text" class="form-control search" placeholder="Search...">
                              <i class="ri-search-line search-icon"></i>
                          </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                              <div>
                                  <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Add</button>
                              </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                          <thead>
                              <tr class="bg-light text-muted"></tr>
                          <tr class="bg-light text-muted">
                          <th scope="col" style="width: 50px;">
                              
                          </th>
                          <th class="sort" data-sort="customer_name">sr.no</th>
                          <th class="sort" data-sort="email">Brand</th>
                          <th class="sort" data-sort="phone">SKU's</th>
                          <th class="sort" data-sort="date">Description</th>
                          <th class="sort" data-sort="status">color</th>
                          <th class="sort" data-sort="status">HSN code</th>
                          <th class="sort" data-sort="status">38</th>
                          <th class="sort" data-sort="status">40</th>
                          <th class="sort" data-sort="status">42</th>
                          <th class="sort" data-sort="status">44</th>
                          <th class="sort" data-sort="status">46</th>
                          <th class="sort" data-sort="status">48</th>
                          <th class="sort" data-sort="status">50</th>
                          <th></th>

                          </tr>
                          </thead>
                          <tbody>
                          <tr >
                            <th scope ="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                            
                            <td class="status"><span class="badge badge-soft text-uppercase"></span>
                            </td>
                            
                               
                          
                          </tr>
                          </tbody>
                        </table>
                    </div>
  
                    
  
                    <div class="row justify-content-md-between align-items-md-center">
                      <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                          </div>
                      </div>
                      <!-- Pagination -->
                      <div class="col-sm-12 col-md-5">
                          <div class="text-md-right float-md-end listjs-pagination">
                          </div>
                      </div>
                      <!-- End Pagination -->
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  
  <!-- Add ListJs Data -->
  <ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
        <div class="modal-body">
  
            <div class="mb-3" id="modal-id" style="display: none;">
                <label for="id-field" class="form-label">ID</label>
                <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
            </div>
  
            <div class="mb-3">
                <label for="customername-field" class="form-label">Customer Name</label>
                <input type="text" id="customername-field" class="form-control" placeholder="Enter Name" required formControlName="customer_name"/>
                <div  class="invalid-feedback">
                  <div>Customer Name is required</div>
                </div>
            </div>
  
            <div class="mb-3">
                <label for="email-field" class="form-label">Email</label>
                <input type="email" id="email-field" class="form-control" placeholder="Enter Email" required formControlName="email"/>
                <div  class="invalid-feedback">
                  <div>Email is required</div>
                </div>
            </div>
  
            <div class="mb-3">
                <label for="phone-field" class="form-label">Phone</label>
                <input type="text" id="phone-field" class="form-control"  placeholder="Enter Phone no." required formControlName="phone"/>
                <div >
                  <div>Phone is required</div>
                </div>
            </div>
  
            <div class="mb-3">
                <label for="date-field" class="form-label">Joining Date</label>
                <input class="form-control flatpickr-input" type="text">
            </div>
  
            <div>
                <label for="status-field" class="form-label">Status</label>
                <select class="form-control" >
                    <option value="">Status</option>
                    <option value="Active">Active</option>
                    <option value="Block">Block</option>
                </select>
                <div class="invalid-feedback" align="left">
                  <div>status is required</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
                <button type="submit" class="btn btn-success" id="add-btn">Add Customer</button>
            </div>
        </div>

</ng-template>
<button type="button" class="btn btn-success btn-animation waves-effect waves-light float-right" data-text="Success"><span>save</span></button>

  